<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.yusys.consumableManager.StatisticsConsumableSuppliesDao">
    <!-- 查询预警 -->
    <select id="queryAllStatistics" parameterType="java.util.Map" resultType="java.util.Map">
    	    select cw.*,cs.category_name,cg.goods_num,
	            (select listagg(ash.store_name,'->') within GROUP (order by ash.store_id) 
                from amc_store_house ash where ash.store_id in (select ashh.store_id from amc_store_house ashh 
                CONNECT BY PRIOR ashh.store_p_id=ashh.store_id START WITH ashh.store_id=cw.room_id)) as room_name
                from CG_WARN_CONFIG cw
          	    left join CG_SUPPLIES_CONFIG cs on  cw.category_id = cs.category_id 
                left join CG_GOODS cg on cw.category_id=cg.category_id and cw.room_id = cg.room_id and cg.flag='00'
    	        where cw.flag='00'
    	<if test="null != status and status.indexOf('01') !=-1">
			and to_number(cg.goods_num)&gt;= to_number(cw.min_num) and to_number(cg.goods_num)&lt;=to_number(cw.max_num)
		</if>
		<if test="null != status and status.indexOf('02') !=-1">
			and to_number(cg.goods_num) &lt; to_number(cw.min_num) or cg.goods_num is null
		</if>
		<if test="null != status and status.indexOf('03') !=-1">
			and to_number(cg.goods_num) &gt; to_number(cw.max_num)
		</if>
		<if test="null != category_id and category_id != ''">
			and cw.category_id in (select category_id  from CG_SUPPLIES_CONFIG
		  CONNECT BY PRIOR category_id=pre_category_id START WITH category_id=#{category_id})
		</if>
    		order by cw.id desc
    </select>        
    <!-- 增加预警 -->
    <insert id="addStatistics" parameterType="java.util.Map" >
    	insert into CG_WARN_CONFIG(id,room_id,max_num,min_num,flag,status,
    			create_no,create_org,create_date,category_id,marks,
    			update_no,update_date) 
    	values(#{ID},#{ROOM_ID},#{MAX_NUM},#{MIN_NUM},#{FLAG},#{STATUS},
    		#{CREATE_NO},#{CREATE_ORG},#{CREATE_DATE},#{CATEGORY_ID},#{MARKS},
    		#{CREATE_NO},#{CREATE_DATE})
    </insert>  
    
    <!-- 修改预警 --> 
     <update id="updateStatistics" parameterType="java.util.Map">
   		update CG_WARN_CONFIG set room_id=#{ROOM_ID},max_num=#{MAX_NUM},
   		min_num=#{MIN_NUM},status=#{STATUS},category_id=#{CATEGORY_ID},
   		marks=#{MARKS},update_no=#{CREATE_NO},update_date=#{CREATE_DATE}
    	WHERE id=#{ID}
    </update>
    <!-- 删除预警 -->
    
    <update id="delStatistics" parameterType="java.util.Map">
    	update CG_WARN_CONFIG set flag=#{flag} where id=#{id}
    </update>
    
    <!-- 查询是否存在预警 -->
    <select id="queryStatisticsByParams" parameterType="java.util.Map" resultType="java.util.Map">
    	select * from CG_WARN_CONFIG where category_id=#{CATEGORY_ID} and
    	room_id=#{ROOM_ID} and flag='00'
    </select>
    
    <!-- 根据ID查询 -->
    <select id="queryRnoAndCnoByID" parameterType="java.lang.String" resultType="com.yusys.consumableManager.StatisticsConsumableSupplies">
    	select * from CG_WARN_CONFIG where id=#{ID}
    </select>
</mapper>